.Lottery {
  margin: 1rem;
  padding: .5rem;
  border: 2px solid #e55039;
  border-radius: 10px;
  min-width: 600px;
}

.Lottery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Lottery-btn {
  margin: 1.5rem;
  padding: .5rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #4a69bd;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 1px;
}